@import "tailwindcss";

button {
  cursor: pointer;
}

.gradient-text {
  background: linear-gradient(45deg, #00ffff, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #f0f, 0 0 20px #f0f;
  }
  100% {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #f0f, 0 0 40px #f0f;
  }
}

.animate-glow {
  animation: glow 2s ease-in-out infinite alternate;
}

label {
  color: #00ffff;
  font: 20px;
}
